.transportNamebox {
    margin-top: 2px;
    margin-bottom: 5px;
}

.numberInput {
    width: 120px;
}

.durationInput {
    margin-top: 10px;
    width: 150px;
}

.form-container {
    display: flex;
    flex-direction: column;
}


.submit-button {
    margin-top: 10px;
    width: 150px;
    margin-bottom: 10px;
}

h3{
    display:inline-block;
    margin-right: 5px;
}



.fields input[type="text"]{
    margin-right: 7px;
    width: 213px;
    height: 40px;
    text-transform: uppercase; 
}

::placeholder{
    text-transform: none;
} 

.textarea {
    resize: vertical;
}

.checked {
    color: orange;
}

.rating-bar {
    flex-direction: row;
}

body {
    font-family: 'Roboto', sans-serif;
}

.spacing{
    margin-bottom: 2%;
}